@import url("//fonts.googleapis.com/css?family=Lato:300,400");
* {
  box-sizing: border-box; }

html, body {
  min-height: 100%; }

body {
  background-color: white;
  font-size: 16px;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  width: 100%; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body li {
    font-family: "Lato", Helvetica, Arial, sans-serif; }
  body h1 {
    font-size: 37px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 21px; }
  body h2 {
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: 300;
    line-height: 1.4; }
  body p {
    margin-bottom: 1em;
    line-height: 1.6;
    font-weight: 400; }
  body a {
    text-decoration: none !important;
    color: #333333;
    border-bottom: 2px solid #2c3e50; }
  body a:hover, body a:focus, body a:visited {
    color: #333333; }
  body code {
    background-color: white;
    border: 1px solid #eeeeee; }

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  transition: width 0.3s ease;
  background-color: #2c3e50;
  z-index: 100; }
  .main-nav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 100%; }
    .main-nav ul li {
      display: block;
      position: relative;
      padding: 10px 0;
      width: 100%; }
  .main-nav a {
    padding: 0 20px !important;
    display: block;
    font-size: 12px;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    border: none;
    color: #eeeeee; }
  .main-nav .logo a {
    padding-bottom: 0 !important;
    font-size: 16px;
    color: #eeeeee; }
  .main-nav a:hover, .main-nav a:focus, .main-nav a:visited {
    color: #eeeeee; }
  .main-nav #about {
    position: relative;
    bottom: 2em;
    font-size: 16px; }

.toggle-wrap {
  position: fixed;
  left: 0;
  transition: all 0.3s ease;
  z-index: 100; }
  .toggle-wrap a {
    position: absolute;
    left: 20px;
    top: 20px;
    border: none;
    font-size: 28px;
    color: #2c3e50; }

#nav:target {
  width: 400px; }

#nav:target + main {
  left: 400px; }
  @media (min-width: 1200px) {
    #nav:target + main {
      left: 200px; } }
  #nav:target + main .open-menu {
    display: none; }
  #nav:target + main .close-menu {
    display: block; }
  #nav:target + main .toggle-wrap {
    left: 400px; }

.close-menu {
  display: none; }

main {
  width: 100%;
  float: right;
  position: relative;
  left: 0;
  transition: all 0.3s ease; }
  @media print {
    main {
      left: 0; } }

article {
  transition: margin 0.5s ease;
  margin: 10em 15px;
  padding: 30px 50px !important; }
  article h1 {
    margin-bottom: 2em; }
  @media print {
    article {
      margin: 0; } }

@media print {
  .hidden-print {
    display: none; } }

.continue {
  margin-top: -8em;
  padding: 30px 50px !important; }
  .continue a {
    color: #2c3e50;
    font-size: 50px;
    border: none; }

.way-down {
  margin-top: 2000px !important; }

footer {
  color: #2c3e50;
  position: fixed;
  right: 20px;
  bottom: 20px; }
  footer a {
    border: none; }
  footer .fade-in {
    position: relative;
    display: inline-block;
    bottom: 7px;
    margin-right: -350px;
    margin-left: 20px;
    transition: all 0.3s ease; }
  footer .fade-wrap:hover .fade-in {
    margin: 0; }
  footer .glyphicon-heart {
    font-size: 28px;
    display: inline-block;
    margin-right: 5px;
    color: #2c3e50; }
