{{template "header.html" .}}

<article class="col-lg-10 col-lg-push-1" data-url="/about-me">
    <h1 class="text-center">About me</h1>
    <p>I'm sorry, I'm too lazy to write some stuff up at the moment. Please enjoy this in the meantime:</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum mattis nisi vel dapibus. Vivamus dictum tristique venenatis. Cras consectetur neque dui, nec sollicitudin odio fringilla non. Etiam ullamcorper augue urna, sed molestie orci sodales hendrerit. Praesent vestibulum sem dui, sed placerat magna luctus ut. Proin ornare sodales risus ac facilisis. Maecenas eleifend quis justo placerat fermentum. Sed convallis odio dolor, sit amet egestas nisi vulputate nec. Suspendisse potenti. Integer sed leo consectetur, viverra nisi nec, rutrum odio. Etiam quis dui quis tellus rutrum tempor in a tellus. Donec id molestie massa. Curabitur vitae mi nunc. Duis vehicula dapibus urna sit amet sodales. Maecenas auctor tortor erat, quis ornare orci lacinia nec.</p>
</article>

{{template "footer.html" .}}