                <div class="continue col-lg-10 col-lg-push-1 text-center hidden-print">
                    <a href="#" id="next" class="hidden"><span class="glyphicon glyphicon-chevron-down"></span></a>
                </div>

            </div>
        </main>
        
        <footer class="visible-md visible-lg hidden-print">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NM9SLR6T7UQAL" class="fade-wrap">
                <span class="glyphicon glyphicon-heart"></span>
                <span class="fade-in">Reward me with a beer (｡◕‿‿◕｡)</span>
            </a>
        </footer>

 		<script type="application/dart" src="/static/dart/main.dart"></script>
 		<script src="/static/dart/packages/browser/dart.js"></script>
  	</body>
</html>
